#initially-showing {
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

img {
  display: block;
  height: 50%;
  width: 50%;
  margin-bottom: 15px;
}